.container{
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 48, 197);
    color:white;
    flex-direction: column;
    border-radius: 50px;
    width:80%;
    height:300px;
    
}
option{
    text-align: center;
}
.container3{
    display: flex;
    flex-direction: row;
}
.div1{
    margin-right:10px;
}
.container2{
    display:flex;
    justify-content: center;    
}
.img2{
    height:30px;
    width:30px;
}
.border{
    border-radius:50px;
}
.div2{
    width:200px;
}
.div3{
    height:50px;
    width:150px;
}